<html>

<head>
	<script src={{url_for('static',filename="/scripts/main.js")}}>
    </script>
	<style>
	  div.log{
		float:left;
		margin-left:30px;
		width:50%;
		}
	  #content{
		float:left;
	  	}
	</style>
</head><body>
	<div id='content'>
    <form action='javascript:init_test();' method='post'>
        <input name="password" type="text" id="password">
        <button type='button' onclick="init_test();">Enter</button>
    </form>
    <p id='switches'></p>
</div>

<div class='log'>
	<h3>Logs</h3>
	<p><button type='button' onclick="clear_logs();">Clear Logs</button></p>
    	<p id='log'></p>
</div>
</body></html>